
            <!--우측 상단 헤더 영역 -->
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>사용자 정보 관리</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="/">Home > </a>
                        </li>
                        <li>
                            <a>사용자 정보 관리 > </a>
                        </li>
                        <li class="active">
                            <strong>조회</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2">

                </div>
            </div>

            <!--우측 콘텐츠 영역 -->
            <div class="wrapper wrapper-content">


                <!-- 조회 옵션 -->
                <div class="ibox-content m-b-sm border-bottom">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label" for="OrderNo">계정 유형</label>
                                <select class="form-control">
                                    <!-- board_type_code -->
                                    <option value="0">선택</option>
                                    <option value="1">단체</option>
                                    <option value="2">개인</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label" for="OrderName">email</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label" for="OrderName">가입 상태</label>
                                <select class="form-control">
                                    <!-- article_type_code -->
                                    <option value="0">선택</option>
                                    <option value="1">활성화</option>
                                    <option value="2">비활성화</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary">조회</button>
                        <a href="/member/create" class="btn btn-info">신규</a>
                    </div>
                </div>

                <!-- 리스트 -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-content">
                                <div class="table-responsive">

                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th width="10%">email</th>
                                                <th width="10%">PW</th>
                                                <th width="10%">이름</th>
                                                <th width="10%">생일</th>
                                                <th width="10%">전화번호</th>
                                                <th width="10%">가입유형</th>
                                                <th width="5%">활성화/비활성화</th>
                                                <th width="10%">등록일</th>
                                            </tr>
                                        </thead>

                                    
                                        <tbody class="hoverTblBody">
                                            <% for(let i=0; i<memberList.length; i++) { %>
                                            <tr>
                                                <td><a href="/member/modify/<%=memberList[i].member_id%>"><%=memberList[i].email%></a></td>
                                                <td><%=memberList[i].member_password%></td>
                                                <td><%=memberList[i].name%></td>
                                                <td><%=memberList[i].birth_date%></td>
                                                <td><%=memberList[i].telephone%></td>
                                                <td>
                                                <% if (memberList[i].entry_type_code === 1) {%>
                                                    단체
                                                <%}%>
                                                <% if (memberList[i].entry_type_code === 2) {%>
                                                    개인
                                                <%}%>
                                                </td>
                                                <td>
                                                <% if (memberList[i].use_state_code === 1) {%>
                                                    활성화
                                                <%}%>
                                                <% if (memberList[i].use_state_code === 2) {%>
                                                    비활성화
                                                <%}%></td>
                                                <td><%=memberList[i].reg_date%></td>
                                            </tr>
                                            <% } %>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
