

            <!--우측 콘텐츠 헤더영역 -->
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>사용자 정보 관리</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="/">Home > </a>
                        </li>
                        <li>
                            <a>사용자 정보 관리 > </a>
                        </li>
                        <li class="active">
                            <strong>수정</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2">

                </div>
            </div>

            <!--우측 콘텐츠 영역 -->
            <form action="/member/modify/<%=member.member_id%>" method="post">
                <div class="wrapper wrapper-content">
                    <div class="ibox-content m-b-sm border-bottom">
    
    
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">이메일</label>
                                    <input type="email" class="form-control" value="<%=member.email%>">
                                </div>
                            </div>
                            
                            </div>

                            <div class="row">

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label">비밀번호</label>
                                        <input type="password" class="form-control" value="<%=member.member_password%>">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">생일</label>
                                    <input type="date" class="form-control" value="<%=member.birth_date%>">
                                </div>
                            </div>
    
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">전화번호</label>
                                    <input type="text" class="form-control" value="<%=member.telephone%>">
                                </div>
                            </div>
                        </div>
    
                        <div class="row">
    
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">계정 유형</label>
                                    <select class="form-control">
                                        <option value="0" <% if (member.entry_type_code == 0) { %> selected <%}%>>선택</option>
                                        <option value="1" <% if (member.entry_type_code == 1) { %> selected <%}%>>단체</option>
                                        <option value="2" <% if (member.entry_type_code == 2) { %> selected <%}%>>개인</option>
                                    </select>
                                </div>
                            </div>
    
                        </div>
    
    
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">수정</button>
                            <a href="/member/delete" class="btn btn-danger">삭제</a>
                            <a href="/member/list" class="btn btn-info">목록</a>
                        </div>
    
                    </div>
                </div>

            </form>
